<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rockpaperscissor"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name="MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <receiver android:name="UserChoiceReceiver" >
            <intent-filter>
                <action android:name="com.example.rockpaperscissor.BTMSG_INTENT" >
                </action>
            </intent-filter>
        </receiver>

        <activity
            android:name=".LogIn"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SingleMultiChoiceActivity"
            android:label="Single or Multi User" >
        </activity>
        <activity
            android:name=".PlayerChoice"
            android:label="Player Choice" >
        </activity>
        <activity
            android:name=".PlayerChoiceDisplay"
            android:label="Player Choice Display" >
        </activity>
        <activity
            android:name=".GameResult"
            android:label="Game Result" >
        </activity>
        <activity
            android:name=".PlayerStatistics"
            android:label="Player Statistics" >
        </activity>
        <activity
            android:name=".DeviceListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Select your friend&apos;s device"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".BluetoothChat"
            android:label="Pick your friend" />
    </application>

</manifest>