<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rockpaperscissor"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <application
        android:name="AppVariables"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LogIn"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SingleMultiChoiceActivity"
            android:label="Single or Multi User" >
        </activity>
        <activity
            android:name=".PlayerChoice"
            android:label="Player Choice" >
        </activity>
        <activity
            android:name=".PlayerChoiceDisplay"
            android:label="Player Choice Display" >
        </activity>
        <activity
            android:name=".GameResult"
            android:label="Game Result" >
        </activity>
        <activity
            android:name=".PlayerStatestics"
            android:label="Player Statistics" >
        </activity>
        
        <activity android:name=".DeviceListActivity"
                  android:label="Select your friend's device"
                  android:theme="@android:style/Theme.Dialog"
                  android:configChanges="orientation|keyboardHidden" />
        
        <activity android:name=".BluetoothChat"
                  android:label="Finding your friend..."/>
    </application>

</manifest>
